# Ignore all .log files
*.log

# Ignore Python virtual environment
djangoenv/
venv/

# Ignore environment files
.env

# Ignore SQLite database
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore config
config

/frontend/linux/flutter/generated_plugin_registrant.cc
/frontend/linux/flutter/generated_plugin_registrant.h
/frontend/linux/flutter/generated_plugins.cmake